option_settings:
  aws:elasticbeanstalk:application:environment:
    ACTION_MAILER_DEFAULT_URL: https://env.host
    ADMIN_IP_RANGES: 127.0.0.1
    BUNDLE_DISABLE_SHARED_GEMS: 1
    BUNDLE_PATH: vendor/bundle
    BUNDLE_WITHOUT: test:development
    DATABASE_URL: postgres://username:password@host:port/table
    ELASTICSEARCH_HOST: host
    ELASTICSEARCH_KEY: key
    ELASTICSEARCH_PORT: port
    ELASTICSEARCH_REGION: region
    ELASTICSEARCH_SECRET: secret
    FULL_HOST: https://env.host
    GA_TRACKING_ID: 0
    GPLUS_CLIENT_ID: id
    GPLUS_CLIENT_SECRET: secret
    RACK_ENV: production
    RAILS_SKIP_ASSET_COMPILATION: false
    RAILS_SKIP_MIGRATIONS: false
    READONLY_IP_WHITELIST: 127.0.0.1
    S3_BUCKET_NAME: name
    S3_KEY: key
    S3_REGION: region
    S3_SECRET: secret
    SECRET_KEY_BASE: secret
    SMTP_DOMAIN: domain
    SMTP_HOST: host
    SMTP_PASSWORD: password
    SMTP_USERNAME: username
    SUPPORT_EMAIL: email
    TOKEN_TTL_IN_HOURS: 4