files: 
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/app_logs.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/log/*
  "/opt/elasticbeanstalk/tasks/taillogs.d/app_logs.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/log/*